@import url('960.css');
* { font-family: Helvetica, Arial, sans-serif; }
body { background: #ccc; }
div.container_12 { background: white; }
.clear_fix:after { content: "."; display: block; width: 100%; clear: both; visibility: hidden; height: 1px; }
.float_right { float: right; }
.align_right { text-align: right; }
h1#logo { background: url('http://media.thestate.com/images/logos/site_logo_340x60.gif') no-repeat; height: 75px; border-bottom: 3px solid #eee; margin-bottom: 0; }
h1#logo span { visibility: hidden; }
div#map { height: 400px; }
div.bubble_text { font-size: 85%; }
a img { border: 0; padding: 0 5px; }
a { color: #004276; text-decoration: none; }
ul { list-style: none; }
ul li { margin: 10px 0px; }
p.view_all { float: left; padding-left: 10px; }
div.crime { padding: 10px; }
div.crime * { margin: 5px; }
div.row_odd { background: #eee; }
div.row_even { background: #ccc; }

/* AD STYLES */
img.half_banner { padding: 5px; }
div.ad { text-align: center; padding: 15px; }
