{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>thestate.com crime map</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/master.css" type="text/css" media="screen" title="Main CSS File" charset="utf-8" />
        <script src="{{ MEDIA_URL }}js/jquery-1.2.6.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/date.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/jquery.datePicker.js" type="text/javascript"></script>
        <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_API_KEY }}"
          type="text/javascript"></script>
        <script type="text/javascript">

        //<![CDATA[
        {% block map_script %}

        function load() {
          if (GBrowserIsCompatible()) {
            var map = new GMap2(document.getElementById("map"));
            map.setCenter(new GLatLng(34.002, -81.0239), 10);
            map.addControl(new GSmallMapControl());
          }
          // Adds a Marker
          var tinyIcon = new GIcon();
          tinyIcon.image = "{{ MEDIA_URL }}img/mm_20_purple.png";
          tinyIcon.shadow = "http://labs.google.com/ridefinder/images/mm_20_shadow.png";
          tinyIcon.iconSize = new GSize(12, 20);
          tinyIcon.shadowSize = new GSize(22, 20);
          tinyIcon.iconAnchor = new GPoint(6, 20);
          tinyIcon.infoWindowAnchor = new GPoint(5, 1);
          {% for crime in object_list %}
              tinyIcon.image = "{{ MEDIA_URL }}img/marker_{{ crime.crime_type.marker_color }}.png";
              var marker{{ crime.id }} = new GMarker(new GLatLng('{{ crime.latitude }}', '{{ crime.longitude }}'), {title: "{{ crime.crime_type }}", icon:tinyIcon});
              marker{{ crime.id }}.bindInfoWindow("<div class=\"bubble_text\"><h3>{{ crime.block|ordinal }} block of {{ crime.street }}</h3><p>{{ crime.description|truncatewords:50 }}<br /><a href=\"{{ crime.get_absolute_url }}\" style=\"text-align: right;\">Read more</a></p><h5>Added: {{ crime.date }}</h5><h5>Reported as: {{ crime.crime_type }}</h5></div>", {maxWidth: 400});
              map.addOverlay(marker{{ crime.id }});
          {% endfor %}

        }

        {% endblock %}
        //]]>
        </script>
        <script type="text/javascript">
           Date.firstDayOfWeek = 7;
           Date.format = 'mm/dd/yyyy';
           $(function() {
               $('div#date_filter input[type=text]').datePicker({clickInput:true, startDate:"01/01/2008"})
               $('#id_start_date').bind(
                   'dpClosed',
                   function(e, selectedDates)
                   {
                        var d = selectedDates[0];
                        if (d) {
                            d = new Date(d);
                            $('#id_end_date').dpSetStartDate(d.addDays(1).asString());
                        }
                    }
                );
               $('#id_end_date').bind(
                   'dpClosed',
                   function(e, selectedDates)
                   {
                        var d = selectedDates[0];
                        if (d) {
                            d = new Date(d);
                            $('#id_start_date').dpSetStartDate(d.addDays(-1).asString());
                        }
                    }
                );

           });
        </script>
    </head>
    <body onload="load()" onunload="GUnload()">
        <div class="container_12 clear_fix">
            <div id="masthead" class="grid_12">
                <div class="small_ad">
                    <img src="{{ MEDIA_URL }}img/banner_234x60.gif" alt="small_banner" />
                </div>
                <h1 id="logo">thestate.com</h1>
                <div id="date_filter">
                    <form method="POST" action="{% url date-range-filter %}">
                        <ul>
                            <li><h4>Filter by Date Range</h4></li>
                            {{ DateRangeForm.as_ul }}
                            <li><input type="submit" name="submit" value="Filter" /></li>
                        </ul>
                    </form>
               </div>
            </div>

            <div id="content" class="grid_12">
                <div id="sidebar" class="grid_5 alpha">
                    <div id="legend grid_5">
                        <p class="view_all"><a href="/crimes/">View All Crimes</a></p>
                    </div><!-- end ul#legend -->

                    <div id="sidebar_small" class="grid_2 omega">
                        <h3>Filter by Agency</h3>
                         {% for agency in agencies %}
                        <p><a href="/crimes/agency/{{ agency.slug }}">{{ agency }}</a></p>
                        {% endfor %}
                    </div><!-- end div#sidebar_small -->

                    <div id="sidebar_large" class="grid_3 alpha">
                        <h3>Filter by Crime Type</h3>
                        {% for crimetype in crimetypes %}
                        <p><a href="/crimes/type/{{ crimetype.slug }}"><img src="{{ MEDIA_URL }}img/marker_{{ crimetype.marker_color }}.png" alt="{{ crimetype }}" />{{ crimetype }}</a></p>
                        {% endfor %}
                    </div><!-- end div#sidebar_large -->
                </div><!-- end div#sidebar -->
                <div id="main_content" class="grid_7 omega">
                    {% block map %}
                    <div id="map"></div>
                    {% endblock %}
                    <div id="crime_list" class="grid_7 alpha">
                        {% block crime_list %}{% endblock %}
                        <div class="big_ad">
                            <img src="{{ MEDIA_URL }}img/banner_468x60.gif" alt="full_banner" />
                        </div>
                    </div><!-- end div#crime_list -->
                </div><!-- end div#main_content -->
            </div><!-- end div#content -->
        </div><!-- end div.container_12 -->
    </body>
</html>

