{% extends "base.html" %}
{% block crime_list %}
    {% if object_list %}
    {% for crime in object_list %}
        <div class="crime row_{% cycle 'even' 'odd' %}">
            <h4>{{ crime.crime_type }}</h4>
            <p>{{ crime.block }} block of {{ crime.street }}.</p>
            <p>Reported by {{ crime.agency }}</p>
        </div>
    {% endfor %}
    {% else %}
        <div class="crime row_even">
            <p>There is no crime that fits this criteria.</p>
        </div>
    {% endif %}
{% endblock %}
